<% include ./partials/header %>

<h1>Administrator's Dashboard</h1>

<h2>Users</h2>
<<<<<<< HEAD
<<<<<<< HEAD
<table>
  <tr>
    <td><b>Username</b></td>
    <td><b>ID</b></td>
  </tr>

<% users.forEach(function(user){ %>
  <tr>
    <td><%= user.username %></td>
    <td><%= user.id %></td>
    <td>
      <form action="/admin/updatePwd" method="GET">
        <button class="ui blue basic button" name="ID" value="<%= user.id %>">Reset Password</button>
      </form>
    </td>
    <td>
      <form action="/admin/deleteUser">
        <button class="ui red basic button" name="ID" value="<%= user.id %>">Delete</button>
      </form>
    </td>
  </tr>
<% }) %>

</table>
=======
<% users.forEach(function(user){ %>
    <li><%= user.username %></li>
<% }) %>
>>>>>>> 3f14e55... Add admin dashboard
=======
<% users.forEach(function(user){ %>
    <li><%= user.username %></li>
<% }) %>
>>>>>>> 30bf6e3... Fix requireAdmin midleware
<% include ./partials/footer %>
