<% include ./partials/header %>

    <div class="ui items">
        <% for(var i=0;i<ads.length;i++){ %>
            <div class="item">
                <div class="ui small image">
                    <img src="<%=ads[i].image%>">
                </div>
                <div class="content">
                    <a class="header" href="/craigslist/<%=ads[i]._id%>"><%=ads[i].title%>: $<%=ads[i].price%></a>
                    <div class="meta">
                        <span>Description</span>
                    </div>
                    <div>
                      Level: <%=ads[i].level%>
                    </div>
                    <div class="description">
                        <%=ads[i].description%>
                    </div>
                    <div class="extra">
                        <%=ads[i].date.toDateString()%>
                    </div>
                </div>
            </div>
            <div class="ui divider"></div>
        <% }; %>
    </div>


<% include ./partials/footer %>
